.emphasis.info {
    font-size: 4em;
    line-height: 1em;
    padding: 0.05em;
}

.image.info {
    max-height: 25em;
}

.p-photos {
    padding: 1em;
    padding-top: 0;
    text-align: center;
    color: white;
}

.heading.sub.info{
    padding: 0;
    margin: 0 auto;
    font-size: 20px;
    font-weight: 500;
}

.container.info {
    flex-direction: column;
    align-items: center;
}

.container.info-lower {
    margin-top: 3em;
}

.info-box.info {
    flex-direction: row;
}

.info-card.info {
    border-bottom: none;
    border-right: solid;
    border-width: 3px;
    border-color: var(--cssc-lavender);
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0px;
}

.info-box.photos {
    margin-bottom: 1em;
    max-width: 11em;
    border: double;
    border-color: var(--cssc-purple);
    border-width: 10px;
}

.info-card.photos {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border:none;
    border-radius: 0;
    background: var(--cssc-dark-gradient)
}

.photo-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 1em;
    padding: 0.2em;
    padding-top: 4em;
    align-items: flex-end;
}

.heading.sub.photos {
    margin-top: 0.4em;
    color: white;
    margin-bottom: 0.2em;
}

.p2019 {
    padding-right: 3em;
}

.info-box.format {
    max-width: 30em;
    margin-inline: 2em;
}

.blurb.event-info {
    padding: 0.1em;
}

.blurb.info {
    padding-top: 1em;
}

.round {
    display: flex;
    border-top: solid;
    border-width: 3px;
    border-color: var(--cssc-lavender);
}

.round-label {
    padding-left: 0.5em;
}

.round-info {
    padding: 0.7em;
    padding-left: 2.5em;
    padding-bottom: 1.1em;
}

.medal-trophy {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.image.info.medal {
    margin-top: -1em;
}

.image.info.trophy {
    margin-top: 5em;
    margin-inline: 2em;
}