ul {
    padding: 0px;
    list-style:none;
}

a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 20px;
    padding-inline: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    
}

a:hover {
    color: #8663c6;
    background-color: rgb(241, 241, 241);
  }  

.navbar {
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(245,241,251,1) 43%, rgba(255,255,255,1) 100%);
    position: sticky;
    top: 0px;
    display: flex;
    flex-direction: row;
    background-color: white;
    height: 40px;
    border: solid;
    border-width: 1px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-top-width: 3px;
    border-color: #bc99fc;
    border-bottom-color: lightgrey;
    transition: padding 0.3s ease;
    transition: height 0.3s ease;
}

.navbar.sticky {
    height: 48px;
    padding-top: 3px;
    opacity: 0.95;
}

.link-box {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
    justify-content: space-evenly;
    z-index: 100;
}

.test {
    padding-bottom: 1700px;
}

@media (min-width: 1300px) {

}