.page {
    transition: opacity 0.6s linear, padding-top 0.6s ease;
    justify-items: center;
    padding-top: 4em;
}

.page.invisible {
    opacity: 0;
    padding-top: 10em;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.info-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin-inline: 0.7em;
    left: 0;
    border: solid;
    border-width: 3px;
    border-radius: 10px;
    border-color: var(--cssc-purple);
    z-index: 10;
}

.info-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    justify-content: center;
    border-radius: 10px;
    border-bottom: solid;
    border-color: var(--cssc-lavender);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background: var(--cssc-gradient);
}

.heading {
    padding-inline: 0.4em;
    padding-top: 0.2em;
    padding-bottom: 0.1em;
    margin: 0;
    font-weight: 500;
    font-size: 40px;
}

.heading.sub {
    font-size: 25px;
}

.image {
    position: relative;
    margin-inline: 1em;
    border: solid;
    border-width: 3px;
    border-color: #333;
    border-radius: 10px;
    z-index: 0;
}

.blurb {
    display: flex;
    flex-direction: column;
    padding: 1.1em;
    padding-top: 0.2em;
}

.list-box {
    padding-inline: 1em;
}