.info-box.photo-card {
    border-color: var(--cssc-lavender);
    margin: 1em;
    width: 11em;
}

.info-box.photo-card.big {
    width: 20em;
}

.info-box.photo-card.not-big:hover {
    cursor: pointer;
}

.info-card.caption {
    color: #333;
    font-size: 18px;
    font-weight: 500;
    border-bottom: none;
    border-top: solid;
    border-color: var(--cssc-lavender);
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    justify-content: center;
    align-items: center;
}

.img-photos {
    width: 11em;
    border-radius: 7px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}