.team-grid {
    display: grid;
    width: 10em;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    align-items: center;
}

.team-member {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-inline: -1.3em;
}

.team-member.hex {
    padding-top: 17em;
}
  