.container.team {
    flex-direction: column;
    align-items: center;
}

.info-box.team {
    margin-bottom: 3em;
}

.info-card.team {
    max-width: 10em;
    border: none;
    border-radius: 7px;
    margin: 0em;
    text-align: center;
}