.title-logo-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5vh;
  padding: 3em;
  padding-top: 21vh;
}

.title-logo {
  opacity: 0;
  height: 30vh;
  width: 30vh;
  margin: 0;
  z-index: 300;
  animation: spin 1s ease /*0.5s*/, fade 1s ease /*0.5s*/ forwards;
}

.title {
  opacity: 0;  
  align-items: center;
  text-align: center;
  font-weight: 500;
  font-size: 6vh;
  color: #bc99fc;
  margin-top: 2.5vh;
  animation: fade 1s ease 0.9s forwards;
  margin-bottom: 0;
}

.subtitle {
  opacity: 0;
  text-align: center;
  font-weight: 400;
  font-size: 3vh;
  animation: fade 1s ease 1.2s forwards;
  margin-top: 5px;
}

@keyframes spin {
  0% {
    transform: rotate(310deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1000px){
  .title {
    font-size: 5vh;
  }
  .subtitle {
    font-size: 2.5vh;
  }
  
}

@media screen and (max-width: 600px){
  .title {
    font-size: 4vh;
  }
  .subtitle {
    font-size: 2vh;
  }
  
}