a {
    text-decoration: none;
}

h2 {
    font-weight: 400;
    font-size: 22px;
    margin-top: 0.6em !important;
}

h1 {
    font-weight: 500;
    color: #333;
}

.why-container-right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.emphasis {
    color: var(--cssc-purple);
    font-weight: 600;
    font-size: 45px;
}

.blurb.why {
    max-width: 30em;
}

.image.why {
    width: 20em;
    margin-top: 5em;
}

.image.why-graphic {
    width: 30em;
    border:none;
}

@media screen and (max-width: 1000px) {
    .image.why {
        width: 20em;
        margin-top: -1em;
        margin-bottom: 3em;
    }
}

@media screen and (max-width: 600px) {
    .image.why-graphic {
        width: 20em;
    }
}