a {
    text-decoration: none;
}

h2 {
    font-weight: 400;
    font-size: 22px;
    margin-top: 0.6em !important;
}

h1 {
    font-weight: 500;
    color: #333;
}

.why-container-right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-card.why {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 0;
    justify-content: center;
}

.emphasis {
    color: var(--cssc-purple);
    font-weight: 600;
    font-size: 45px;
}

.blurb.why {
    max-width: 30em;
}

.image.why {
    width: 20em;
    margin-top: 5em;
}

.image.why-graphic {
    width: 30em;
    border:none;
}